.user {
    display: flex;
    align-items: center;
    
    &__name {
        font-weight: 700;
        font-size: 18px;
        line-height: 18px;
    }

    &__avatar {
        margin-right: 14px;
    }

    &__type {
        margin-top: 7px;
        font-size: 12px;
        line-height: 16px;
        color: var(--lightGrey);
    }
}