.feed-user {
    margin-bottom: 16px;
}
.toggler__wrap {
    margin-top: 18px;
}
.comments {
    margin-top: 10px;
}
.comments__item{
    margin-bottom: 6px;
    &:last-child{
        margin-bottom: 0;
    }
}
.date {
    margin-top: 10px;
}
.day {
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 10%;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.4);
}
