.c-button{
    width: 270px;
    height: 44px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: -0.15px;
    background: var(--green);
    color: #fff;
    &:hover{
        background: var(--lightGray);
        }
}