.content {
    border: 1px solid rgb(241, 241, 241);
border-radius: 10px;
box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.07);
padding:  24px 20px;
}
.title {
    font-size: 26px;
    font-weight: 700;
}
.text {
    margin-bottom: 32px;
}
.buttons {
    display: inline-flex;
    width: 232px;
    align-items: center;
    padding: 5px 11px;
    border: 1px solid rgba(27, 31, 35, 0.15);
    border-radius: 6px ;
    justify-content: space-evenly;
}
.mark {
    display: flex;
    align-items: center;
    padding-right: 12px;
    border-right:1px solid rgba(27, 31, 35, 0.15); ;
    cursor: pointer;
}
.star{
    margin-right: 4.5px;
}
.stars {
    padding: 0 12px;
    border-right:1px solid rgba(27, 31, 35, 0.15); 
}
.fork{
    margin-right: 6px;
}
.forks {
    display: flex;
    align-items: center;
    padding: 0 14px;
    border-right:1px solid rgba(27, 31, 35, 0.15); 
    cursor: pointer;
}
.amount {
    padding: 0 0 0 11px;
}