.stories {
    display: flex;
    justify-content: space-between;
}

.story-user-item {
    width: 92px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    text-overflow: ellipsis;
}

.content {
    margin-top: 32px;
}

.x-container-feeds {
    width: 980px;
    margin: 0 auto;
}

.feeds-item {
    margin-bottom: 24px;
    &:last-child{
        margin-bottom: 0;
    }
}
